.gameItem {
  text-decoration: none;
  color: white;
  width: 320px;
  height: 330px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
}

.gameItem:not(:last-child) {
  margin-bottom: 30px;
  margin-right: 50px;
}
.gameItem:hover {
  transform: translateZ(500px);
  transform: translatey(-10px);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.6);
}

.gameItemTitle {
  font-size: 18px;
  font-weight: bold;
}

.gameItemGenre {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.gameItemDetails{
  padding: 10px 20px;
}

.gameItemDescription {
  margin-top: 10px;
  font-size: 14px;
}

.gameItemBuy {
  position: absolute;
  right: 0;
  bottom: 15px;
  margin-right: 5px;
}

