.cartBlock {
  display: flex;
  align-items: center;
  position: relative;
}

.totalPrice {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.cartIcon {
  cursor: pointer;
  position: relative;
  transition: all .6 ease-in-out;
}

.cartIcon:hover {
  opacity: .8;
}

.itemsInCart {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: tomato;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 2;
  left: 15px;
  top: -10px;
}