.cartItem {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cartItemTitle {
  margin-top: 15px;
}
.cartItemPrice {
  display: flex;
  align-items: center;
}

.cartiItemDelete {
  margin-left: 5px;
  cursor: pointer;
}